<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div id="mySidenav" class="sidenav">
  <a  href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <a class="sidenavA" href="#"><i class="fas fa-info"></i>  Information Personnel</a>
  <a class="sidenavA" href="#"><i class="far fa-calendar-times"></i>  retard et Absences</a>
  <a class="sidenavA" href="#"><i class="fas fa-book"></i>  cours et exercices</a>
  <a class="sidenavA" href="#"><i class="far fa-calendar-alt"></i>  emploi du temps</a>
</div>

<span style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776;</span>

<div class="container"style="border: 2px  solid black">
  <h1 style="color: #470E87;  font: normal 36px 'Cookie', cursive;text-align: center;"><span style="border-bottom: 3px solid black">Information Personnel</span></h1>
  <div class="row w-100" >
    <div class="col-md-2">
      <img src="../assets/images/person-logo.jpg" style="border-radius: 25px" width="90px" height="90px">
    </div>
    <div class="col-md-5"></div>
    <div class="col-md-5"></div>
  </div>
  <br>
  <div class="row w-100" >
    <div class="col-md-6">
      <h4><strong>Nom :</strong> shadeau</h4>
      <h4><strong>Preom :</strong> hamza</h4>
      <h4><strong>Age :</strong> 21 ans</h4>
      <h4><strong>Nom :</strong> shadeau</h4>
      <h4><strong>Nom :</strong> shadeau</h4>
      <h4><strong>Age :</strong> 21 ans</h4>
      <h4><strong>Nom :</strong> shadeau</h4>
      <h4><strong>Nom :</strong> shadeau</h4>
    </div>
    <div class="col-md-6">
      <h4><strong>Nom :</strong> shadeau</h4>
      <h4><strong>Preom :</strong> hamza</h4>
      <h4><strong>Age :</strong> 21 ans</h4>
      <h4><strong>Nom :</strong> shadeau</h4>
      <h4><strong>Nom :</strong> shadeau</h4>
      <h4><strong>Age :</strong> 21 ans</h4>
      <h4><strong>Nom :</strong> shadeau</h4>
      <h4><strong>Nom :</strong> shadeau</h4>
    </div>
  </div>
</div>
</body>
</html>
