<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div id="mySidenav" class="sidenav">
  <a  href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <a class="sidenavA" href="#"><i class="fas fa-info"></i>  Information Personnel</a>
  <a class="sidenavA" href="#"><i class="far fa-calendar-times"></i>  retard et Absences</a>
  <a class="sidenavA" href="#"><i class="fas fa-book"></i>  cours et exercices</a>
  <a class="sidenavA" href="#"><i class="far fa-calendar-alt"></i>  emploi du temps</a>
</div>

<span style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776;</span>

<div class="container p-shadow-20"style="border: 2px  solid black;box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);z-index: 2;">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Information Professionnel</li>
    </ol>
  </nav>
  <h1 style="color: #470E87;  font: normal 36px 'Cookie', cursive;text-align: center;"><span style="border-bottom: 3px solid black">Information Personnel</span></h1>
  <div class="row" >
    <div class="col-sm-2">
      <img src="../assets/images/person-logo.jpg" style="border-radius: 25px" width="90px" height="90px">
    </div>
    <div class="col-sm-5"></div>
    <div class="col-sm-5"></div>
  </div>
  <br>
  <div class="row" >
    <div class="col-6">
      <h4><strong>Nom :</strong> shadeau</h4>
      <h4><strong>Preom :</strong> hamza</h4>
      <h4><strong>Age :</strong> 21 ans</h4>
      <h4><strong>Nom :</strong> shadeau</h4>
      <h4><strong>Nom :</strong> shadeau</h4>
      <h4><strong>Age :</strong> 21 ans</h4>
      <h4><strong>Nom :</strong> shadeau</h4>
      <h4><strong>Nom :</strong> shadeau</h4>
    </div>
    <div class="col-6">
      <h4><strong>Nom :</strong> shadeau</h4>
      <h4><strong>Preom :</strong> hamza</h4>
      <h4><strong>Age :</strong> 21 ans</h4>
      <h4><strong>Nom :</strong> shadeau</h4>
      <h4><strong>Nom :</strong> shadeau</h4>
      <h4><strong>Age :</strong> 21 ans</h4>
      <h4><strong>Nom :</strong> shadeau</h4>
      <h4><strong>Nom :</strong> shadeau</h4>
    </div>
  </div>
</div>
<br>
<div class="container"style="border: 2px  solid black;box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);z-index: 2;">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Cours & Exercices</li>
    </ol>
  </nav>
  <h1 style="color: #470E87;  font: normal 36px 'Cookie', cursive;text-align: center;"><span style="border-bottom: 3px solid black">Cours et exercices</span></h1>
  <div class="row" >
    <div class="col-md-3 shadow p-3 mb-5 bg-white rounded" style="margin: 5px">Math</div>
    <div class="col-md-3 shadow p-3 mb-5 bg-white rounded" style="margin: 5px">Francais</div>
    <div class="col-md-3 shadow p-3 mb-5 bg-white rounded" style="margin: 5px">anglais</div>
    <div class="col-md-3 shadow p-3 mb-5 bg-white rounded" style="margin: 5px">Arabe</div>
    <div class="col-md-3 shadow p-3 mb-5 bg-white rounded" style="margin: 5px">Islamique</div>
    <div class="col-md-3 shadow p-3 mb-5 bg-white rounded" style="margin: 5px">Histoire Geo</div>
  </div>
  <br>
  <div class="row" >
    <div class="col-md-6 col-12">
      <h2 style="text-align: center">Cours</h2>
      <table class="table table-hover table-striped">
        <thead>
        <tr>
          <th>nom</th>
          <th>matiere</th>
          <th>lien</th>
          <th>date</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>nom1</td>
          <td>matiere1</td>
          <td>lien1</td>
          <td>date1</td>
        </tr>
        <tr>
          <td>nom2</td>
          <td>matiere2</td>
          <td>lien2</td>
          <td>date2</td>
        </tr>
        <tr>
          <td>nom3</td>
          <td>matiere3</td>
          <td>lien3</td>
          <td>date3</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6 col-12">
      <h2 style="text-align: center">Exercice</h2>
      <table class="table table-hover table-striped">
        <thead>
        <tr>
          <th>nom</th>
          <th>matiere</th>
          <th>lien</th>
          <th>date</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>nom1</td>
          <td>matiere1</td>
          <td>lien1</td>
          <td>date1</td>
        </tr>
        <tr>
          <td>nom2</td>
          <td>matiere2</td>
          <td>lien2</td>
          <td>date2</td>
        </tr>
        <tr>
          <td>nom3</td>
          <td>matiere3</td>
          <td>lien3</td>
          <td>date3</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
</html>
