<form ><div class="container-fluid">

    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10" style="padding-bottom: 10px">
        <mat-toolbar>
          <mat-toolbar-row>
            <span class="span" id="span">
              <i class="fa fa-plus-square" aria-hidden="true"></i> Formulaire
              pour Ajouter un nouveau Professeur (e)</span
            >
          </mat-toolbar-row>
        </mat-toolbar>
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <input type="file" class="form-control-file" />
      </div>
      <div class="col-md-5">
        <input type="text" class="form-control" placeholder="CIN *" required />
      </div>
      <div class="col-md-1"></div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <input type="text" class="form-control" placeholder="Nom *" required />
      </div>
      <div class="col-md-5">
        <input
          type="text"
          class="form-control"
          placeholder="Prenom *"
          required
        />
      </div>
      <div class="col-md-1"></div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <input type="text" class="form-control" placeholder="CIN *" required />
      </div>
      <div class="col-md-5">
        <input
          type="text"
          class="form-control"
          placeholder="Telephone *"
          required
        />
      </div>
      <div class="col-md-1"></div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <input
          type="email"
          class="form-control"
          placeholder="Email *"
          required
        />
      </div>
      <div class="col-md-5">
        <input
          type="text"
          class="form-control"
          placeholder="Telephone *"
          required
        />
      </div>
      <div class="col-md-1"></div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <select class="form-control">
          <option selected>Situation Familiale</option>
          <option>Marie</option>
          <option>Celebataire</option>
          <option>Divorce</option>
        </select>
      </div>
      <div class="col-md-5">
        <mat-label>Sexe : </mat-label> <span style="padding-left: 20px"></span>
        <mat-radio-group>
          <mat-radio-button value="f">Femme</mat-radio-button>
          <span style="padding-left: 20px"></span>
          <mat-radio-button value="m">Homme</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="col-md-1"></div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <textarea
          class="form-control"
          placeholder="Adresse *"
          rows="3"
        ></textarea>
      </div>
      <div class="col-md-5"></div>
      <div class="col-md-1"></div>
    </div>

    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10"><hr /></div>
      <div class="col-md-1"></div>
    </div>

    <div class="row">
      <div class="col-md-8"></div>
      <div class="col-md-3">
        <button
          class="btn btn-block"
          type="submit"
          mat-stroked-button
          style="
            background-color: #f7ae39;
            color: #042954;

            padding: 2px;
          "
        >
          <i class="fas fa-check-double"></i> <b> Enregistrer</b>
        </button>
      </div>
      <div class="col-md-1"></div>
    </div>

</div>
</form>
