<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@600;700&display=swap"
      rel="stylesheet"
    />
    <title>acceuil</title>
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg nav-custom"
      style="z-index: 2"
    >
      <a class="navbar-brand" href="#"
        ><img src="../assets/images/logo.png" height="55px"
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
        (click)="openNav()"
      >
        <i class="fa fa-bars" aria-hidden="true"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">A propos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Chiffres</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Equipe</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
        <!-- <button
          class="btn bg-transaprent border-0 search-btn"
          (click)="display()"
        >
          <span class="fa fa-search text-indigo" style="font-size: 30px;"></span>
        </button> -->
          <button
          class="btn btn-outline-danger "

        >
       Get Started
        </button>

      </div>
      <div id="mySidenav" class="sidenav">
        <a
          class="sidenavA"
          href="javascript:void(0)"
          class="closebtn"
          (click)="closeNav()"
          >&times;</a
        >
        <a class="sidenavA" href="#">A propos</a>
        <a class="sidenavA" href="#">Chiffres</a>
        <a class="sidenavA" href="#">Equipe</a>
        <a class="sidenavA" href="#">Contact </a>
      </div>
    </nav>
    <div class="bg" style="position: relative">
      <!-- <div
        id="search-space"
        style="
        background: rgb(238,174,202);
  background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
          opacity: 0.7;
          height: 1000px;
          z-index: 2;
          position: absolute;
          width: 100%;
        "
      >
        <div class="form-group search-class w-100 mt-2" id="search">
          <div class="input-group shadow-sm">
            <div class="input-group-prepend">
              <button class="btn bg-indigo text-white">
                <span class="fa fa-search"></span>
              </button>
            </div>
            <input type="text" placeholder="search" class="form-control" />
            <div class="input-group-append">
              <button
                class="btn bg-indigo text-white search-btn"
                (click)="masquer()"
              >
                <span class="fa fa-times" style="font-size: 30px;"></span>
              </button>
            </div>
          </div>
        </div>
      </div> -->
    </div>

    <div class="nav-custom" style="    padding: 20px;">
    <h1 style="text-align: center; font-weight: bold">
      école en <strong> chiffre</strong>
    </h1>
    <div class="col-md-12">
      <br />
      <div class="row" style="text-align: center">
        <div class="col-md-4">
          <img
            src="../assets/images/etudiant%20icone.png"
            width="20%"
            alt="employes number"
          />
          <br />
          <h5>50</h5>
          <h5><strong>etudiant</strong></h5>
        </div>
        <div class="col-md-4">
          <img
            src="../assets/images/professeur%20icone.png"
            width="20%"
            alt="exchange number"
          />
          <br />
          <h5>10</h5>
          <h5><strong>professeur</strong></h5>
        </div>
        <div class="col-md-4">
          <img
            src="../assets/images/activité%20icone.png"
            width="20%"
            alt="project number"
          />
          <br />
          <h5>40</h5>
          <h5><strong>activité</strong></h5>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
    <h1 style="text-align: center; font-weight: bold">
      A propos de <strong>l école</strong>
    </h1>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <img src="../assets/images/logo.png" width="100%" />
            </div>
            <div class="col-md-4"></div>
          </div>
          <!-- <h4 style="text-align: center; font-weight: bold">
            <i class="fas fa-school"></i> <u> H.A.H</u> School
          </h4> -->
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima
            assumenda dolorem suscipit a libero quo. Nemo, alias iste sint, ab
            cumque mollitia a labore ratione, est nam accusamus numquam!
            Eveniet!
          </p>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis
            velit animi minima nobis sequi. Praesentium quas molestiae impedit.
            Tenetur sed veniam optio laborum suscipit voluptatem perspiciatis,
            quod officia corrupti iure?
          </p>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos esse
            tenetur cumque, minima deleniti sunt! Minima nobis molestias quam a
            in quos, sit earum quidem, molestiae quisquam voluptates id amet.
          </p>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos esse
            tenetur cumque, minima deleniti sunt! Minima nobis molestias quam a
            in quos, sit earum quidem, molestiae quisquam voluptates id amet.
          </p>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos esse
            tenetur cumque, minima deleniti sunt! Minima nobis molestias quam a
            in quos, sit earum quidem, molestiae quisquam voluptates id amet.
          </p>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
    <br />
    <br />

    <h1 style="text-align: center; font-weight: bold">Equipe</h1>
    <br />
    <p-carousel
      [value]="responsiveOptions"
      [numVisible]="3"
      [numScroll]="1"
      [responsiveOptions]="responsiveOptions"
    >
      <ng-template let-car pTemplate="item">
        <div class="card">
          <img
            src="../assets/images/person-logo.jpg "
            alt="Avatar"
            style="width: 100%"
          />
          <div class="container">
            <h4><b>Jane Doe</b></h4>
            <p>Interior Designer</p>
          </div>
        </div>
      </ng-template>
    </p-carousel>
    <footer class="footer-distributed">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
            <h3>A propos de nous</h3>

            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-6">
                <img src="../assets/images/logo.png" width="100%" />
              </div>
              <div class="col-md-3"></div>
            </div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
              distinctio dolorem quos, vero soluta eos voluptas, dolores nam
              quae excepturi alias quibusdam quisquam ullam fugit ipsum, vel
              aperiam recusandae perferendis.
            </p>
          </div>
          <div class="col-md-4">
            <h3>Liens Utiles</h3>
          </div>
          <div class="col-md-4">
            <h3>Contactez Nous</h3>
            <br />
            <div>
              <p><i class="fa fa-phone"></i> +212-666666666</p>
            </div>
            <div>
              <p>
                <i class="fa fa-envelope"></i>
                <a href="mailto:support@eduonix.com"> contact@hah.com</a>
              </p>
            </div>
            <p>
              <span
                ><i class="fa fa-map-marker"></i> 309 - Rupa Solitaire, Bldg.
                No. A - 1, Sector - 1</span
              >
              Mahape, Navi Mumbai - 400710
            </p>
            <div class="footer-icons">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
              <a href="#"><i class="fa fa-linkedin"></i></a>
              <a href="#"><i class="fa fa-youtube"></i></a>
            </div>
          </div>
        </div>
        <hr />
        <p class="footer-company-name">
          © 2020 , All rights are reserved to H.A.H 2.0
        </p>
      </div>
    </footer>
  </body>
</html>
