.bg{
  background-image: url(../../assets/images/login-back-etudiant.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.foot{
  background: rgb(238,174,202);
  background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  padding: 25px;
}
.backgr{
  background: rgb(238,174,202);
  background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);

}
#definition {
  position: absolute;
  /* left: 50px; */
top: 100px;
  padding: 10px;
  text-align: center;

}
@media (max-width: 768px) {
  .bg {
    display: none;
  }
}
